* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $white-blue;

  .hidden {
    display: none;
  }
}

.container {
  display: flex;
}
