$white: #ffffff;
$light-blue: #d3e7ff;
$white-blue: #fafcff;
$sky-blue: #deebfe;
$win-blue: #f0f5ff;
$blue: #2e71ff;
$grey: #718caf;
$medium-grey: #e2eaf4;
$Navy-black: #07172f;
$opac-green: rgba(27, 243, 164, 0.2);
$opac-red: rgba(255, 29, 56, 0.17);
$red: #ff1d38;
$accent-red: #ff1b44;
$green: #1bf3a4;

@import "global";
@import "side-menu";
@import "header";
